{%extends 'insta/base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<hr>
<div class="container">
    <div class="row">
        {% if username %}
        <h3 class="text-center">Found {{username | length}} user by the name <b>{{message | title}}</b>.</h3>
        <hr>
        {% else %}
        <h2 class="text-center">Found 0 users for the searched name {{message | title}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if username %}
        {% for user in username %}
        <div class="card border-secondary">
            <br>
            <h1 class="text-center">  {{user.user}}</h1>
            <hr>  
            <img class="card-img-top" class="img-responsive" src="{{user.photo.url}}">
            {% comment %} {% if user.image %}   
            
            {% endif %} {% endcomment %}
         </div>
            {% endfor %}
        {% endif %}
     
    </div>
</div>
<br>
<hr>
{% endblock %}